<html>
    <head>
        <%- include('./partials/head'); %>
        <title>Your account has been activated</title>
    </head>
    <body>
        <%- include('./partials/header', {session: session}); %>
        <p>Account activated succesfully!</p>
        <p>You can now <a href="/auth/login">login</a></p>
        <%- include('./partials/footer'); %>
    </body>
</html>