<html>
    <head>
        <%- include('./partials/head'); %>
        <title>Something went wrong!</title>
    </head>
    <body>
        <%- include('./partials/header', {session: session}); %>
        <h1>Looks like something went wrong!</h1>
        <% if (locals.msg) { %>
            <p><%= msg %></p>
        <% } else { %>
            <p>Try again later</p>
        <% } %>
        <%- include('./partials/footer'); %>
    </body>
</html>