<html>
    <head>
        <title>Main Page</title>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/header', {session: session}); %>
        <h1>Main Page</h1>

        <%- include('./partials/footer'); %>
    </body>
</html>