<html>
    <head>
        <%- include('./partials/head'); %>
        <title>Activate your account</title>
    </head>
    <body>
        <%- include('./partials/header', {session: session}); %>
        <p>Account created succesfully!</p>
        <p>An activation link has been sent to your email - <%=email%>, click it to activate your account.</p>
        <%- include('./partials/footer'); %>
    </body>
</html>