<html>
    <head>
        <%- include('./partials/head'); %>
        <title>Sign up</title>
    </head>
    <body>
        <%- include('./partials/header', {session: session}); %>
        <form action="/auth/signup" method="post">
            login: <input type="text" name="login"/></br>
            email: <input type="text" name="email"/><br/>
            password: <input type="password" name="password"/><br/>
            <input type="submit" value="signup"/>
        </form>
        <%- include('./partials/footer'); %>
    </body>
</html>