server/node_modules/
server/db/serverdb.db
server/db/sessiondb.db
server/chatpictures/
server/chatthumbs/
server/pictures/



react-app/node_modules/
react-app/build/

mobileApp/android/build
mobileApp/ios
mobileApp/node_modules
